h1 {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    background-color: rebeccapurple;
    color: white;
    margin: 0;
}